    .boxRange{
    width:100%;
    background-color:rgba($color: #040404, $alpha: 0.2);
    border-radius: 10px;
    
    }
    .range{
        border-radius: 0 20px 20px 0;
        transition:width 0.2s ease-in-out;
        height: 5px;

        
    }
    .count{
        // font-size: 16px;
        color: rgba($color: #000000, $alpha: 0.4);
        display: inline-block;
    }
    .freePlaces{
        color: rgba($color: #000000, $alpha: 0.3);
        margin-bottom: 10px;
        font-size: 20px;
    }