.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    .menu{
        display: flex;
        gap: 50px;
        align-items: center;
        font-size: 24px;
        .menu_item{
            color: #A78966;

        }
        .comeIn{
            color: #806749;
            font-weight: bold;
        }
        
    }

    .list_hostel{
        border-radius: 30px;
        padding: 5px 15px;
        background-color:rgba($color: #000000, $alpha: 0.2);
        color: #A78966;
        // width: 197px;
    }

   

}
.hr{
    width: 100%;
    border: none;
    border-top: 1px rgba($color: #000000, $alpha: 0.3) solid;
    
}

.titleWelcom{
    line-height: 41px;
    font-size: 34px;
    font-weight: 600;
    color: #535048;
}
.welcBox{
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.searchHostel{
    color: #988A7A;
    font-size: 26px;
    font-weight: 500;
    line-height: 31px;
}