
.carousel{
    margin-top: 50px;
    
   }
   .weHostels{
     text-align: center;
     margin-top: 150px;
     .ourHostels{
       font-size: 36px;
       line-height: 39px;
       color: #806749;
     }
     .changeHostel{
       font-size: 24px;
       color: #BFAF9C;
       margin-top: 20px;
     }
   }
   .btnBox{
     text-align: center;
   
   
     
   }