.passwordBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    max-width: 500px;
      
    .title{
        font-size: 32px;
        font-weight: 500;
    }

    .inputBox{
        color: #BFAF9C;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .login{
            background-color: #F7F2E7;
            border: none;
            border-radius: 5px;
            color: #BFAF9C;
        }
    }
}